{% extends 'layout/base.html' %}

{% load static %}
{% block main %}
    <section class="container flex-column item-center">
      <h1 class="large text-primary">
        Sign Out
      </h1>
      <p class="lead"><i class="fas fa-user"></i>
      Enter Your Account
      </p>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.as_p }}
                <input type='submit' value="Submit">
            </form>

        </div>
      <p class="form-text"><a href="">Уже есть аккаунт?</a></p>
      <p class="form-text"><a href="{% url 'core:doctor-signup' %}">Зарегистрироваться как врач</a></p>
    </section>
{% endblock %}