{% extends 'layout/base.html' %}

{% load static %}
{% block content %}

    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="header-inner">
                    <h1 class="signup-header"><i class="fa fa-user"></i> Войти</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label"> {{ field.label }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="signup-submit">
                            <input type='submit' value="Submit" class="signup-submit_right">
                    </form>
                    <div class="signup-submit__links">
                        <h4 class="form-text"><a href="{% url 'core:sign_up' %}">Зарегистрироваться</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
