{% extends 'layout/base.html' %}
{%  load static %}
{% block content %}
<section class="landing bg-primary">
  <div class="dark-overlay">
    <div class="landing-inner">
      <div class="x-large">PSY  #1</div>
      <div class="lead">Make your life better</div>
      <div>
        <a href="#" class="btn">Пройти тест</a>
        <a href="#" class="btn btn-danger">registration</a>
      </div>
    </div>
  </div>
</section>
<div class="container">
    <h3>Психологическая поддержка и развитие EQ.</h3>
    <h4>
        Психологические тесты > Оценка типа и состояния психики <br>
        > индивидуальные и групповые консультации с психологом
        <br>
        > выполнение упражнений > счастье
    </h4>
    <h3>ТЕСТЫ</h3>
    <p>Пройдите тесты, чтобы оценить текущее состояние психики и ваш типа. Это поможет специалистам и системе
     подобрать индивидуальный план поведенческой терапии. Реультаты тестирования появятся в личном кабинете. Результаты буду полезны
    вас самим и нашим специалистам, чтобы помочь вас обрести себя и добиться успеха.</p>
    <ul>
        <li>ТЕСТ НА СДВГ</li>
        <li>ТЕСТ НА ТИП ЛИЧНОСТИ</li>
        <li>ТЕСТ С ЦВЕТАМИ</li>
        <li></li>
        <li></li>
    </ul>
    <h3>Система конференций</h3>
    <p>Индивидуальные и групповые занятия онлайн для общения между клиентами и специалистами. </p>

    <h3>Админка для врачей</h3>
    <p>Чтобы специалисты могли успешно взаимодействовать с пацинтами, необходимо создать качественную админку</p>
    <p>Админка будет включать</p>
    <ul>
        <li>Прием заказов</li>
        <li>Напоминание о приемме СМС</li>
        <ul><b>Статистика</b>
            <li>Количество пациентов</li>
            <li>Суммарное количество часов приемов</li>
            <li>Текущая ставка</li>
            <li>Количество средств на счете</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
    <h3>ТИПЫ КЛИЕНТОВ</h3>
    <ul>
        <li>Депрессевные</li>
        <li>Семейная психотерапия</li>
        <li>СДВГ</li>
        <li>Дети</li>
        <li></li>
    </ul>
</section>

{% endblock %}