.bg-primary {
  background-color: #44c767;
  color: #111;
}
.bg-dark {
  background-color: #007241;
  color: #fff;
  border: #ccc 1px solid;
}
.bg-light {
  background-color: #61D7A4;
  color: #111;
}
.bg-danger {
  background-color: #FF4900;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #111;
}

.x-large {
  font-size: 4rem;
  margin-bottom: 10px;
}

.lead {
  font-size: 1rem;
  margin-bottom: 15px;
}

.text-primary {
  color: #44c767;
}

.btn {
  background-color: #ffffff;
  color: #111;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border: none;
  width: 200px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.btn :hover {
  background: #cccccc;
}
.btn-primary {
  background-color: #44c767;
  color: #111;
}
.btn-primary:hover {
  background: #6bd387;
}
.btn-danger {
  background-color: #FF4900;
  color: #fff;
}
.btn-danger:hover {
  background: #992c00;
  color: #ffffff;
}
.btn-dark {
  background-color: #007241;
  color: #fff;
}
.btn-dark:hover {
  background: #000c07;
}

.container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.item-center {
  align-items: center;
}

.item-start {
  align-items: start;
}

.item-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #44c767;
}

a.hover {
  color: #222222;
}

a.button, input[type=submit] {
  background-color: #44c767;
  color: #111;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  border: 0;
}

a.button:hover, input[type=submit]:hover {
  background-color: #267f3e;
  color: #bbbbbb;
}

a.button.dark {
  background-color: #007241;
  color: #fff;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

form p label {
  font-size: 14px;
  padding-bottom: 4px;
}

form p input {
  width: 300px;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 10px 12px;
  border: 0;
  background: #efefef;
  color: #666;
  border-radius: 4px;
}

ul {
  list-style: none;
}

ul.errorlist {
  color: #ff0000;
  clear: both;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    position: fixed;
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    position: fixed;
  }
}
input[type=email],
input[type=password],
input[type=text] {
  display: block;
  width: 100%;
  padding: 0.4rem;
  border-radius: 3px;
  margin: 1rem auto;
  font-size: 1rem;
  border: 1px solid #cccccc;
}

.success {
  background-color: #44c767;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
}

.error {
  background-color: #FF4900;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
}

#qtlResult {
  display: none;
  padding-top: 70px;
  padding-bottom: 50px;
}

.qtlBlock {
  display: none;
}

.qtlQuestion {
  padding-bottom: 10px;
  padding-top: 30px;
}

.qtlQuestionTxt {
  font-size: 1.3em;
  font-weight: normal;
}

.qtlQuestionImg {
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
}

.qtlAnswers {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.qtlQuestionDblL {
  text-align: left;
  padding-right: 100px;
  padding-top: 30px;
}

.qtlQuestionDblR {
  text-align: right;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.qtlAnswersDbl {
  margin: 0 auto;
  padding-top: 30px;
}

.qtlCellL {
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 60px;
}

.qtlCellC {
  vertical-align: middle;
  padding-left: 40px;
  padding-right: 40px;
}

.qtlCellR {
  vertical-align: bottom;
  padding-left: 20px;
}

.qtlTdBack {
  height: 24px;
  width: 100px;
  padding-right: 10px;
}

#qtlBackForm {
  padding: 0px;
  margin: 0px;
}

#qtlBackButton {
  height: 44px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background: #FFFAF0;
  cursor: pointer;
  border: 1px solid #B5B5B5;
  font-size: 1em;
}

#qtlBackButton:focus, #qtlBackButton:active {
  outline: 0;
  background: #FFE0E0;
  box-shadow: 0 0 3px #B5B5B5;
}

.qtlTdMeter {
  height: 24px;
}

#qtlMeter {
  border: 1px solid #B5B5B5;
  border-radius: 5px;
}

#qtlMeterLine {
  border-radius: 5px;
  width: 0%;
  background: #F0FFFF;
  border-right: 1px solid #B5B5B5;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.qtlMeterText {
  padding-left: 20px;
}

.qtlTdTimer {
  width: 100px;
  padding-left: 10px;
}

#qtlTimer {
  height: 24px;
  border-radius: 5px;
  border: 1px solid #B5B5B5;
  background: #FFFFF0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

form.qtlAnswerForm {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

input.qtlAnswerButton {
  width: 100%;
  text-align: left;
  border-radius: 10px;
  background: #F8F8FF;
  cursor: pointer;
  border: 1px solid #B5B5B5;
  padding: 15px 0px 15px 30px;
  font-size: 1em;
}

input.qtlAnswerButton:focus, input.qtlAnswerButton:active {
  outline: 0;
  padding: 16px 0px 14px 31px;
  background: #E0FFE0;
  box-shadow: 0 0 3px #B5B5B5;
}

input.qtlAnswerButtonDbl {
  width: 60px;
  text-align: center;
  border-radius: 10px;
  background: #F8F8FF;
  cursor: pointer;
  border: 1px solid #B5B5B5;
  padding: 10px 0px 10px 0px;
  font-size: 1em;
  margin: 2px;
}

input.qtlAnswerButtonDbl:focus, input.qtlAnswerButtonDbl:active {
  outline: 0;
  padding: 11px 0px 11px 1px;
  background: #E0FFE0;
  box-shadow: 0 0 3px #B5B5B5;
}

#qtlWarn {
  border: 1px solid #B5B5B5;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
}

#qtlWarnAge {
  margin-bottom: 20px;
  display: none;
}

.qtlTdTimer {
  width: 100px;
  padding-left: 10px;
}

#qtlTimer {
  height: 24px;
  border-radius: 5px;
  border: 1px solid #B5B5B5;
  background: #FFFFF0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#bookmarklet {
  background: #fff;
  border-bottom: 8px solid #12c064;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif !important;
  padding: 10px;
  overflow: auto;
  box-shadow: 0px 0px 8px 0 #666;
  position: fixed;
  width: 400px;
  min-height: 200px;
  top: 10px;
  right: 10px;
  z-index: 1000000000000;
}

#bookmarklet h1 {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: normal;
  color: #333;
  font-size: 18px;
  padding: 4px 0 20px 0;
}

#bookmarklet #close {
  float: right;
  font-size: 18px;
  text-decoration: none;
  color: #666;
  margin-top: -6px;
}

#bookmarklet #close:hover {
  color: #000;
}

#bookmarklet .images {
  margin-bottom: 20px;
  overflow: auto;
}

#bookmarklet .images img {
  border: 1px solid #ccc;
  padding: 2px;
  margin: 2px;
  opacity: 0.8;
  width: 90px;
  float: left;
}

#bookmarklet .images img.selected,
#bookmarklet .images img:hover {
  border: 1px solid #12c064;
  opacity: 1;
}

.image-info {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.count {
  margin: 1rem;
  padding: 20px;
  border: 1px solid #bbbbbb;
  border-radius: 20px;
}

#header h1 {
  margin-left: 2rem;
}
#header h1 a {
  color: white;
}
#header li {
  font-size: 1.5rem;
  padding: 0.5rem;
}
#header li a, #header li p {
  color: white;
  margin: 0;
  padding: 0;
}
#header li:last-child {
  margin-right: 2rem;
}

.sidebar {
  margin-top: 1rem;
  flex: 0 0 auto;
}
.sidebar a {
  padding: 1em;
  display: block;
  background-color: #007241;
  transition: all 0.2s ease-in;
  box-shadow: 0px 0px 8px 2px #000000;
}
.sidebar a:hover {
  background: #0cff97;
}

.main {
  flex: 1 1 auto;
}

.landing {
  background-color: #44c767;
  color: #111;
  position: relative;
  height: 100vh;
}
.landing-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

#social {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 1rem;
  line-height: 1.8;
  margin: 1rem;
  border: 1px solid #bbbbbb;
  width: 1000px;
  border-radius: 10px;
}
.card-content {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  align-items: center;
}

.avatar {
  display: block;
  float: left;
  margin: 1rem;
}

.appointment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}
.appointment > div {
  padding: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
