@import "config";
@import "utilities";
@import "default";
@import "media_query";
@import "form";
@import "tests";
@import "bookmarklet";

#header {
  h1 {
    margin-left: 2rem;
  }

  li {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  li:last-child {
    margin-right: 2rem;
  }
}

.sidebar {
  margin-top: 1rem;
  flex: 0 0 auto;
  a {
    padding: 1em ;
    display: block;
    background-color: $dark-color;
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 8px 2px #000000;

    &:hover {
      background: lighten($dark-color, 30%)
    }
  }
}
.main {
  flex: 1 1 auto;
}


//LANDING
.landing {
  @include set-background($primary-color);
  position:relative;
  height:100vh;

  &-inner {
    height:100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}



#social {
  display: flex;
  flex-direction: row;
}