{% extends 'layout/base.html' %}
{%  load static %}
{% block main %}
<section class="landing bg-primary">
  <div class="dark-overlay">
    <div class="landing-inner">
      <div class="x-large">PSY  #1</div>
      <div class="lead">Make your life better</div>
      <div>
        <a href="#" class="btn">Пройти тест</a>
        <a href="#" class="btn btn-danger">registration</a>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="content content-right">
    <img src='' alt="" class="content-img">
    <div>
      <h1>Индивидуальная психотерапия</h1>
      <p> Индивидуальный подход. Доктора. Зарличные техники.  Индивидуальный подход. Доктора. Зарличные техники
       Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники
       Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники
      </p>
      <input type='submit' value="Читать" class="btn btn-primary">
     </div>
  </div>
  <div class="divider"></div>
  <div class="content content-left">
      <div>
      <h1>Групповые занятия</h1>
      <p> Индивидуальный подход. Доктора. Зарличные техники.  Индивидуальный подход. Доктора. Зарличные техники
       Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники
       Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники
      </p>
      <input type='submit' value="Читать"  class="btn btn-primary">
    </div>
    <img src={% static '/default_ img/default.png' %} alt="" class="content-img">
  </div>
  <div class="divider"></div>
  <div class="content content-right">
    <img src={% static '/default_ img/default.png' %} alt="" class="content-img">
    <div>
      <h1>Медитация</h1>
      <p> Индивидуальный подход. Доктора. Зарличные техники.  Индивидуальный подход. Доктора. Зарличные техники
       Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники
       Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники
      </p>
      <input type='submit' value="Читать"  class="btn btn-primary">
    </div>
  </div>
  <div class="divider"></div>
  <div class="content content-left">
      <div>
      <h1>Семейная террапия</h1>
      <p> Индивидуальный подход. Доктора. Зарличные техники.  Индивидуальный подход. Доктора. Зарличные техники
       Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники
       Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники Индивидуальный подход. Доктора. Зарличные техники
      </p>
      <input type='submit' value="Читать"  class="btn btn-primary">
    </div>
    <img src={% static '/default_ img/default.png' %} alt="" class="content-img">
  </div>

</section>

{% endblock %}