{% extends 'layout/personal_area.html' %}
{% load static %}
{% load thumbnail  %}
{% block content %}
  <h1 class="large text-primary">Список врачей</h1>
  {% for doctor in doctors %}
      <div id='doctor-{{ doctor.id }}' class="card card-content">
        {% if 'images' in doctor.avatar.url %}
          {% thumbnail doctor.avatar '200x200' crop='center' as image %}
              <img src="{{ image.url }}" alt="">
          {% endthumbnail  %}
          <div>
            <span>
              {{ doctor.name }} {{ doctor.surname }} {{ doctor.third_name }}
            </span>
            <p>Возраст: 32432423</p>
            <p>Телефон:234234</p>
          </div>
          <div>
            <p><i class="fas fa-check"></i>Специализация</p>
            <p><i class="fas fa-check"></i>Специализация</p>
            <p><i class="fas fa-check"></i>Специализация</p>
            <button id="appointment" class="btn btn-primary">Запись к врачу</button>
          </div>
      {% endif %}
      </div>
  {% endfor %}
  <script src="{% static 'js/appointment.js' %}"></script>
{% endblock %}