{% extends 'layout/personal_area.html' %}
{% load static %}
{% load thumbnail  %}
{% block content %}

<div class="card card-content">
    {% thumbnail doctor.avatar '200x400' as image %}
    <img class='avatar' src="{{ image.url }}" alt="">
    {% endthumbnail %}
    <div>
    <h1>{{ doctor.full_name }}</h1>
    <p>Опыт: {{ doctor.working_experience }}</p>
    <p>Специализация: {{ doctor.specialty }}</p>
    <p>Возраст: {{ doctor.age }}</p>
    <p>Цена за час: 1000 руб.</p>
    </div>
</div>
    <h3 style="text-align: center">Выбирите время и дату приема</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Записаться">
    </form>
      <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script src="{% static 'js/appointment.js' %}?{% now 'U' %}"></script>
{% endblock %}