<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partial/_css.html' %}
  <meta name="theme-color" content="#222">
</head>
<body>
  {% include 'partial/_header.html' %}

  {% block content %}

  {% endblock %}

  {% include 'partial/_footer.html' %}
  {% include 'partial/_js.html' %}
</body>
</html>
