<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="icon.png">
  {% load static %}
  <link href="{% static 'css/style.css' %}?{% now 'U' %}" rel="stylesheet" >
  <meta name="theme-color" content="#222">
  <link rel="stylesheet" href="{% static 'jquery/jquery-ui.min.css' %}">
  <script src="{% static 'jquery/external/jquery/jquery.js' %}"></script>
  <script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
</head>
<body>
<div id="header" class="container justify-between bg-primary">
    {% if request.user.is_authenticated %}
        {% if request.user.patient %}
            <h1><a href="{% url 'personal_area:patient_index' %}">LOGO</a></h1>
        {% else %}
            <h1><a href="{% url 'personal_area:doctor_index' %}">LOGO</a></h1>
        {% endif %}
    {% else %}
        <h1><a href="{% url 'core:index' %}">LOGO</a></h1>
    {% endif %}

    <ul class="container flex-row item-center ">
      <li><p>Привет, {{ request.user.email }}</p></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'core:sign_out' %}">Выйти</a></li>
          {% if request.user.patient %}
              <li><a href="{% url 'core:patient-profile' %}">Профиль</a></li>
          {% else %}
              <li><a href="{% url 'core:doctor-profile' %}">Профиль</a></li>
          {% endif %}
        {% else %}
          <li><a href="{% url 'core:sign_in' %}">Войти</a></li>
          <li><a href="{% url 'core:sign_up' %}">Зарегистрироваться</a></li>
        {% endif %}
    </ul>
</div>
{% block main %}{% endblock %}


</body>
</html>
