{% extends 'layout/base.html' %}

{% block main %}

<section class="container bg-white">
  <div class="sidebar">
    <a href="{% url 'core:profile' %}">Личные данные</a>
    <a href="#">Групповые занятия</a>
    <a href="#">Запись к врачу</a>
    <a href="#">Статьи</a>
    <a href="{% url 'psy_tests:index' %}">Тесты</a>
    <a href="#">Практики</a>
    <a href="#">Диагноз</a>
    <a href="#">Консультации</a>
    <a href="#">Рецепты</a>
    <a href="#">Медитация</a>
    <a href="#">Семейная терапия</a>
  </div>
  <div class="main">
    <div class="flex-container flex-container-center">
      <h1>Личный кабинет</h1>
      <p>Пользуйтесь на здоровье</p>
        {% block content %}

        {% endblock %}
    </div>
  </div>
</section>
{% endblock %}