{% extends 'layout/base.html' %}

{% block main %}

<section class="container flex-row">
  <div class="sidebar item-start">
    {% if request.user.patient %}
        <a href="{% url 'core:patient-profile' %}">Личные данные</a>
        <a href="{% url 'core:doctor-list' %}">Все врачи</a>
    {% else %}
        <a href="{% url 'core:doctor-profile' %}">Личные данные</a>
    {% endif %}
    <a href="#">Групповые занятия</a>
    <a href="#">Статьи</a>
    <a href="{% url 'psy_tests:index' %}">Тесты</a>
    <a href="#">Практики</a>
    <a href="#">Диагноз</a>
    <a href="#">Консультации</a>
    <a href="#">Рецепты</a>
    <a href="#">Медитация</a>
    <a href="#">Семейная терапия</a>
  </div>
  <div class="main item-center container flex-column">
        {% block content %}
            {% block domready %}{% endblock %}
        {% endblock %}
  </div>
</section>
{% endblock %}